#container{
    border: none;
    display: grid;
    margin: auto;
    grid-template-columns:  50% 50%;
    padding-top: 100px;

    
}

.undraw{
    border: none;
    margin: auto;
    border-right: solid purple 3px;

}



.form{
    border: none;
    padding-left: 100px;


}

button{
    padding: 12px 22px;
    width: 65%;
    color: azure;
    background-color: blueviolet;
    
}


.input{
    padding: 12px 22px;
    border-radius: 6px;
    width: 60%;

}