#container{
    border: none;
    display: grid;
    grid-template-columns: 50px, 50px;
    padding: 80px;
    margin: auto;
    
}

undraw{
    border: none;
    border-right: solid plum;

}

input{
    padding: 12px 12px;
    border-radius: 6px;

}

.form{
    border: none;
    margin: auto;

}

.button{
    padding: 5px 5px;
    width: 90%;
    color: azure;
    background-color: blueviolet;
}

